<% include ./partials/head %>
<body id="allworkout">
    <div class="workout">
        <div class="superherocard">
         <h3 class="workout-hero"><%=name %></h3>
         <a href=<%="/workout/" + name%>><img src="/images/starlord.jpg" alt="starlord marvel superheros" class="superhero-icon" name="starlord"></a>
         </div>
    </div>
</body>
<% include partials/footer %>
