<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body class="error-container">
<h1>This is embrassing seems like <%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<p>Please try back again in a few minutes</p>
</body>
</html>

