<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mobile.css' media="(max-width: 800px)" />
    <link rel="stylesheet" href="/stylesheets/style.css" media="(min-width: 801px)">
  </head>
  <body class="splashpage">
  <div class="top-nav">
    <h1 class="splashpage-title"><%= title %>!</h1>
    <p class="splash-page-bottom">If it doesn't challenge you, it doesn't change you! <span><%=title %></span>!</p>
    <a href="/users"><button class="login-button">Login</button></a>
    </div>
  </body>
</html>
