<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Recreate Yourself <span><%=title %></span></p>
    <a href="localhost:3000/users"<button class="login-button">Login</button></a>
  </body>
</html>
<!--add picture and make splash page-->