<% include partials/head %>
  <body id="landing-page">
  <!--nered to add some hero logos to landing page-->
    <img src="images/weights-icon.svg" alt="wieghts icon" class="wieght-icon"/>
    <h1><%= title %></h1>
    <a href="/users/login"><button class="mdl-button mdl-js-button mdl-button--raised app-button startbutton">Start</button></a>
  </body>
<% include partials/footer %>