<% include partials/head %>
<body id="login-page">
    <form method="post" action="/login">
        <input type="text" placeholder="Enter email" name="email">
        <input type="password" placeholder="Enter a password" name="password">
        <button class="login-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</button>
    </form>
    <p>Need an account click <a href="/users/signup">here</a></p>
</body>
<% include partials/footer %>