<% include partials/head %>
<body id="login-page">
    <h1 class="app-title">Apollo</h1>
    <h5 class="app-description">Personal Fitness Logger</h5>
    <form method="post" action="/login">
        <div class="login-inputs">
        <input type="text" placeholder="Enter email" name="email">
        <input type="password" placeholder="Enter a password" name="password">
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised app-button loginbutton">Login</button>
    </form>
    <p>Need an account click <a href="/users/signup" class="linkto">here</a></p>
</body>
<% include partials/footer %>