<% include partials/head %>

<body class="profile-page">
    <div class="profile-option-btn">
        <img src="../images/selfie.jpg" alt="user-selfie" class="profile-img"/>
    </div>
    <div class="mdl-layout">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col border-right">Followers</div>
        <div class="mdl-cell mdl-cell--4-col border-right">Following</div>
        <div class="mdl-cell mdl-cell--4-col"><a href="#">Messages</a></div>
        <div class="mdl-cell mdl-cell--6-col"><a href="/all">Workouts</a></div>
        <div class="mdl-cell mdl-cell--6-col"><a href="/all">Workouts</a></div>
    </div>
    </div>
    <div class="track-new">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent track">
        Track
        </button>
    </div>
</body>

<% include partials/footer %>