<% include partials/head %>
  <body class="profile-container">
    <div class="profile-image-container">
      <img src="/images/profile.jpg" alt="user image for user homepage">
    </div>
    <div class="profile-info">
      <h2>Welcome <%= username %></h2>
    </div>
    <div class="profile">
        <h4 class="pro-cards"><i class="fa fa-address-book pro-icon" aria-hidden="true"> Followers</i><p class="inner-pro">15K</p></h4>
        <hr class="hrstyle">
        <h4 class="pro-cards"><i class="fa fa-heartbeat pro-icon" aria-hidden="true">
        Current Workout</i><p class="inner-pro"><a href="/workout">StarLord</a></p></h4>
        <hr class="hrstyle">
        <h4 class="pro-cards"><i class="fa fa-heart pro-icon" aria-hidden="true">
        <a href="/workout">Find New Workout</a></i><i class="fa fa-users pro-icon" aria-hidden="true">
        <a href="/allusers">Find New Users</a></i></h4>
        <hr class="hrstyle">
    </div>
      <button class="logout-btn"><a href="/logout">Logout</a></button>
  </body>
</html>