<% include partials/head %>

<body class="profile-page">
    <div class="profile-background"><div class="username-profile"><%=user %></div></div>
    <div class="profile-picture">
        <img src="../images/selfie.jpg" alt="user-selfie" class="profile-img"/>
    </div>
    <main class="mdl-layout__content user-stat-div">
        <div class="mdl-grid user-stats-grid">
            <div class="mdl-cell mdl-cell--4-col-phone user-stats">210<br>Followers</div>
            <div class="mdl-cell mdl-cell--4-col-phone user-stats border-sides">100<br>Following</div>
            <div class="mdl-cell mdl-cell--4-col-phone user-stats">2<br>Messages</div>
        </div>
        <!--graph area for user activity -->
    </main>
    <div class="navigation-buttons">
    <button class="mdl-button mdl-js-button mdl-button--raised app-button workoutout-start logout">Workout</button>
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent app-button logout"><a href="/logout" class="logout-link">Logout</a></button>
     </div>
</body>

<% include partials/footer %>