<% include partials/head %>
  <body class="profile-container">
    <img src="/images/begreat.jpg" alt="user image for user homepage" class="user-page-userimage">
    <div class="user-page-list-options">
    <ul>
      <li>Height: <span class="personal-gains">5'10<span></li>
      <li>Weight: <span class="personal-gains">200<span></li>
      <li>Favorite Workout: <span class="personal-gains">Bench-Press<span></li>
      <li>Personal-Record: <span class="personal-gains">365Lbs<span></li>
    </ul>
    <blockquote class="personal-quote">'Never give up on your dreams'</blockquote>
    </div>
  </body>
</html>