<% include partials/head %>
  <body class="registration-page">
  <h1>Welcome to Apollo</h1>
    <form action="/signup" method="POST" class="registration-form">
    <input type="text" placeholder="Email" name="email" class="new-user-email">
    <input type="password" placeholder="Create Password" name="password" class="new-user-password">
    <input type="text" placeholder="Enter a username" name="username" class="new-user-password">
    <button type="submit" class="submitbtn">Submit</button>
    </form>
    <p class="login-link">Already have an account click <a href="/login">here</a> to log in</p>
  </body>
</html>