<!DOCTYPE html>
<html>
  <head>
  <!--how to load this file and then create my post request on submit-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/workout/create" method="POST">
    <input type="text" placeholder="workout name" name="workout">
    <input type="text" placeholder="equipment" name="equipment">
    <fieldset class="bodyparts">
    <legend>BodyPart for excersise</legend>
    <input type="checkbox" name="Back" value="back" class="bodyparts">Back
    <input type="checkbox" name="Glutes" value="glutes" class="bodyparts">Glutes
    <input type="checkbox" name="Chest" value="chest" class="bodyparts">Chest
    <input type="checkbox" name="Biceps" value="biceps" class="bodyparts">Biceps
    <input type="checkbox" name="Triceps" value="triceps" class="bodyparts">Triceps
    <input type="checkbox" name="Calves" value="calves" class="bodyparts">Calves
    <input type="checkbox" name="Quadriceps" value="quadriceps" class="bodyparts">Quadriceps
    <input type="checkbox" name="Shoulder" value="shoulder" class="bodyparts">Shoulder
    </fieldset>
    <button type="submit">Submit</button>
    </form>
  </body>
</html>