<% include ../partials/head %>
<body class="workout-delete-container">
    <form action=<%= "/workout/" + name + "/remove?_method=DELETE"%> method="POST">
    <h3>Going to delete this workout <%='(' + name + ')' %> !!!</h3>
    <button type="submit" class="submitbtn">Submit</button>
    </form>
  </body>