<!DOCTYPE html>
<html>
  <head>
  <!--how to load this file and then create my post request on submit-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="workout-edit-container">
    <form action=<%= "/workout/" + name + "/update?_method=PUT"%> method="POST">
    <h1>Edit your workout<h1>
    <input class="new-workout-name" placeholder="New Workout Name" type="text" name="workout" value=<%="" + name + "" %>>
    <input class="new-equipment" placeholder="New equipment name" type="text" name="equipment">
     <fieldset class="bodyparts">
    <legend>BodyPart for excersise</legend>
    <input type="checkbox" name="bodyParts" value="back" class="bodyparts">Back
    <input type="checkbox" name="bodyParts" value="glutes" class="bodyparts">Glutes
    <input type="checkbox" name="bodyParts" value="chest" class="bodyparts">Chest
    <input type="checkbox" name="bodyParts" value="biceps" class="bodyparts">Biceps
    <input type="checkbox" name="bodyParts" value="triceps" class="bodyparts">Triceps
    <input type="checkbox" name="bodyParts" value="calves" class="bodyparts">Calves
    <input type="checkbox" name="bodyParts" value="quadriceps" class="bodyparts">Quadriceps
    <input type="checkbox" name="bodyParts" value="shoulder" class="bodyparts">Shoulder
    </fieldset>
    <button class="submitbtn">Submit</button>
    </form>
  </body>
</html>