<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p> list of all the current excersises</p>
    
        <% if(message) { %>
          <div class="error-div"> 
          <%=message %>
          </div>
       <% } %>
  </body>
</html>