.login-container, .registration-page, .profile-container, .delete-container, .all-users-container, .all-workouts-container, .workout-profile-container, .workout-edit-container, .workout-delete-container, .splashpage, .edit-profile, .delete-container, .create-workout-container {
  width: 100%;
  background-color: #24313C;
  color: #1AB188;
  display: block;
}
.splashpage-title{
    text-align: center;
    font-size: 150px;
    color: #24313C;
   -webkit-text-stroke: 1px #1AB188;
}
.splash-page-bottom{
    text-align: center;
    margin-top: 55px;
    font-size: 33px;
    margin-bottom: 55px;
}
.login-button, .login-submit, .submitbtn, .create-workout-submit {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: 1px solid #FFF176;
    background-color: #FFF176;
    border-radius: 15px;
    font-size: 15px;
    color: #24313C;
}
.splashpage a {
    text-decoration: none;
}
/*login-page style */
.login-container h1 {
    text-align: center;
    font-size: 55px;
}
.loginDiv {
    display: block;
    margin: 0 auto;
    width: 35%;
}
.loginDiv h3 {
    text-align: center;
    font-size: 25px;
}
.login-username, .login-password, .new-user-name, .new-user-email, .new-user-password, .user-name, .new-user-email, .create-workout-equipment, .create-workout-name {
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #FFF176;
    background-color: #24313C;
    border-radius: 10px;
    height: 30px;
    margin-left: 35px;
    padding-left: 15px;
    color: #FFF176;
    font-size: 19px;
}
input::-webkit-input-placeholder {
	font-size: 19px;
    color: #FFF176;
}
input::-moz-placeholder {
	font-size: 19px;
    color: #FFF176;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	font-size: 19px;
    color: #FFF176;
}
input:-ms-input-placeholder { 
	font-size: 19px;
    color: #FFF176;
}
.register-link {
    font-size: 25px;
    margin-top: 70px;
}
.register-link a {
    color: #FFF176;
}
/* Registration */
.registration-page {
    max-width: 100%;
}
.registration-page form {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1AB188;
    margin-top: 130px;
    height: 35%;
    padding-top: 25px;
    border: 1px solid #1AB188;
    border-radius: 8px;
    padding-bottom: 25px;
}
.registration-page h1 {
    text-align: center;
    font-size: 55px;
}

/*profile Page */

.profile-container img, .excersise-image {
    width: 300px;
    height: 300px;
    margin-left: 43%;
    border: 1px solid #FFF176;
    border-radius: 15px;
    margin-top: 25px;
} 
.username,  .workout-name{
    text-align: center;
    font-size: 34px;
}
.user-page-list-options, .workoutInd {
    width: 50%;
    margin: 0 auto;
}
.user-page-list-options li, .workoutInd li, .equipment {
    list-style-type: none;
    text-align: center;
    
}
.personal-quote{
    text-align: center;
    font-size: 25px;
}
.profile-options{
    width: 100%;
    margin-left: 25%;
}
.edit{
    margin-left: 10%;
    color: #FFF176;
    float: left;
}
.delete, .all-users, .workout-view, .edit-workout, .delete-workout{
    float: left;
    margin-left: 30px;
    color: #FFF176;
}
.workout-view{
    text-decoration: none;
}
.workout-view a{
    color: #FFF176;
}
/* Edit Page */

.user-name, .new-user-password, .new-user-email, .create-workout-equipment, .create-workout-name {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.delete-container h3 {
    text-align: center;
    font-size: 45px
}

/*
    ==================Workout Styles ========================
                                                                */

.bodyparts{
    width: 45%;
    display: block;
    margin: 0 auto;
}
.create-workout-submit {
    margin-top: 25px;
}
.delete-workout, .edit-workout{
    margin-left: 45%;
    text-decoration: none;
    text-align: center;
}
.allworkouts-container {
    max-width: 100%;
}
.all-workouts-container ul {
    border: 1px solid #FFF176;
    width: 43%;
    display: inline-block;
    margin-left: 15px;
    list-style-type: none;
    -webkit-box-shadow: -2px 9px 11px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 9px 11px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 9px 11px -9px rgba(0,0,0,0.75);
}
.all-workouts-container li {
    margin-bottom: 10px;
}
.all-workouts-container a {
    color: #1AB188;
    text-decoration: none;
    cursor: grab;
}
.add-workout{
    float: left;
    margin-left: 40%;
    font-size: 28px;
}
.workout-title{
    font-weight: bold;
    font-size: 20px;
}


