<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User delete page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="all-users-container">
    <h1> Members you might know </h1>
    <%for(let i = 0; i < users.length; i++){%>
     <div class="users-list">
     <ul>
        <img src="http://fillmurray.com/300/300" alt="Bill Murray filler photo" class="allusers" />
        <h6><%=users[i].name%></h6>
    </ul>
    </div>
    <%}%>
    <p>Go to your profile</p>

  </body>
</html>