<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!--will be sent as req.body-->
    <form action="/users/create" method="POST">
    <input type="text" placeholder="username" name="name" class="new-user-name">
    <input type="text" placeholder="email" name="email" class="new-user-email">
    <input type="password" placeholder="Create Password" name="password" class="new-user-password">
    <button type="submit" class="submitbtn">Submit</button>
    </form>
  </body>
</html>