<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User Update</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/:username/update" method="PUT">
    <input type="text" placeholder="username" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" palceholer="Create Password" name="password">
    <button type="submit" class="submitbtn">Submit</button>
    </form>
  </body>
</html>