<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User delete page</title>
    <link rel='stylesheet' href='/stylesheets/mobile.css' media="(max-width: 650px)" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="delete-container">
    <form action=<%= "/users/" + name + "/remove?_method=DELETE"%> method="POST">
    <h3>Oh no so sad to see you go <%=name %> !!!</h3>
    
    <button type="submit" class="submitbtn">Submit</button>
    </form>
  </body>
</html>