<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User-Page</title>
    <link rel='stylesheet' href='/stylesheets/mobile.css' media="(max-width: 650px)" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="login-container">
  <h1>Apollo Total Fitness</h1>
      <div class="loginDiv">
      <h3>Log In</h3>
      <form action="/users/login" class="login" method="POST">
        <input type="text" class="login-username" placeholder="name" name="name">
        <input type="password" class="login-password" placeholder="Password" name="password">
        <button class="login-submit" value="Log In">Login</button>
      </form>
      <p class="register-link">Need to Register? <a href="/users/register">Register</a></p>
      </div>
  </body>
</html>