<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User-Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="loginDiv">
      <h1>Apollo Total Fitness</h1>
      <form action="" class="login">
        <input type="text" class="login-username" placeholder="Username">
        <input type="password" class="login-password" placeholder="Password">
        <button class="login-submit">Login</button>
        <p class="register-link">Need to Register? <a href="/users/create">Register</a>
      </form>
      </div>
  </body>
</html>