<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>User-Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/userimage.png" alt="user image for user homepage" class="user-page-userimage">
    <p class="user-page-welcome-message username">Welcome <%=name %></p>
    <p class="user-page-welcome-message">This is your homescreen dashboard from here you can do several things such as</p>
    <div class="user-page-list-options">
    <p>Mauris porttitor interdum nibh non vulputate. In vel euismod ipsum, in tincidunt tellus. Pellentesque sed massa at ante auctor hendrerit ut quis felis. Aliquam non eros vestibulum, convallis nisl id, maximus lacus. Proin odio libero, varius sit amet lacus sed, condimentum accumsan nibh. Morbi ullamcorper turpis elit, eget cursus lectus vulputate nec. In venenatis consequat justo vel eleifend. Aliquam vitae nibh at sem mattis facilisis in sed diam. Maecenas faucibus cursus neque, vitae tincidunt metus eleifend nec. Curabitur nunc metus, ornare ullamcorper pellentesque ac, iaculis quis dui. Cras vulputate congue auctor. Phasellus tristique tempor dolor eu iaculis. Nullam ac dui at nulla pellentesque eleifend eu vitae urna.</p>
    </div>
    <a href=<%="/users/" + name + "/edit" %>>Edit your profile</a>
    <a href=<%="/users/" + name + "/delete" %>>Delete your profile</a>
  </body>
</html>